<div>
  <div class="content"
       fxLayout="row column"
       fxLayout.xs="column"
       fxFlexFill>
    <div fxFlex="15" fxLayout="column" fxLayoutGap="10px">
      <mat-card class="spotahome-card" fxFlex="300px">
        <mat-form-field>
          <mat-select placeholder="Sort Home Types" [(ngModel)]="selectedValue" name="prices">
            <mat-option (click)="onHomeTypesChanged($event)" *ngFor="let type of homeTypes" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-list>
          <mat-list-item>
            <button mat-button (click)="setOrder('card.pricePerMonth')">Sort Prices <i
              class="material-icons">swap_vert</i></button>
          </mat-list-item>
          <mat-list-item></mat-list-item>
          <mat-list-item>
            <button mat-raised-button (click)="downloadJson()">Download JSON</button>
          </mat-list-item>
        </mat-list>

      </mat-card>
    </div>

    <div fxFlex="85" fxLayout="row column" fxLayoutGap="20px">
      <mat-card class="spotahome-card" fxFlex="400px"
                *ngFor="let card of homecards | orderBy: order:reverse:'case-insensitive';let i = index"
                [attr.data-index]="i">
        <mat-card-header>
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle><span style="text-align:left;float:left;">Type: </span> <span style="text-align:right;">{{card.pricePerMonth | currency:'EUR'}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{card.mainPhotoUrl}}" alt="">
        <mat-card-actions>
          <button mat-button>More Details</button>
          <button mat-button>Book Now</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>


</div>


